*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  width: 100vw;
  margin: auto;
  min-height: 100vh;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width:695px){
  .container{
    padding-left: 50px;
    padding-right: 50px;
  }
}

