.container {
    display: flex;
    gap: 100px;
  }
  
  .textContainer {
    flex: 1;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }

  .title{
    font-size: 44px;
  }

  .desc{
    font-size: 20px;
  }

  .button{
    padding: 10px;
    justify-content: center;
    width: 85px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 50px;
  }

.imgContainer {
    flex: 1;
    position: relative;
  }

  @media (max-width:695px){
    .imgContainer{
      display: none;
    }
  }
